DATABASE_URL=
REDIS_URL=

JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_EXPIRE=

GEOCODING_PROVIDER=
NAVER_MAPS_CLIENT_ID=
NAVER_MAPS_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

GCP_HOST=
GCP_USER=
GCP_SSH_KEY=
GCP_APP_DIR=